@model IEnumerable<Web_PhongTro.ViewModels.BaiDangVM>

@{
    ViewBag.Title = "BaiDang";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Styles {
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.css" />
    <link rel="stylesheet" href="~/Contents/Css/post_details.css">
}
 
@foreach (var item in Model)
{
    <section class="posts" id="post-detail">
        <div class="container">
            <div class="row">
                <div class="post-detail-box col-lg-8 col-md-12">
                    <div class="post-details-left">
                        <div class="post-image-container">
                            <img id="post-image" src="/Contents/Images/ImgPost/@item.BaiDang.AnhBaiDang" alt="">
                        </div>
                        <div class="list-post-image-compact">
                            @foreach (var ddAnh in item.listDdAnh)
                            {
                                <div class="post-image-compact">
                                    <img src="/Contents/Images/ImgPost/@ddAnh" onclick="changeImage('/Contents/Images/ImgPost/@ddAnh')" alt="Image 1">
                                </div>
                            }

                        </div>
                        <button class="carousel-control-prev " type="button" data-bs-target="#carousel_Photos" data-bs-slide="prev"><span class="carousel-control-prev-icon" aria-hidden="true"></span><span class="visually-hidden">Slide trước</span></button>
                        <button class="carousel-control-next" type="button" data-bs-target="#carousel_Photos" data-bs-slide="next"><span class="carousel-control-next-icon" aria-hidden="true"></span><span class="visually-hidden">Slide tiếp theo</span></button>
                    </div>
                    <div class="post-details-contents">
                        <h3 class="title-post">@item.BaiDang.TieuDe</h3>
                        <div class="price">
                            <h2 style="margin: 10px 0">@string.Format("{0:N0}",item.noidungPT.GiaPhong) vnđ</h2>
                        </div>
                        <h2>Thông tin mô tả</h2>
                        <p style="text-align: justify; font-size: 1.8rem;">
                            @Html.Raw(item.BaiDang.NoiDung.Replace("\\n", "<br>"))
                        </p>
                        <hr />
                        <h2 style="margin:10px 0">Đặc điểm phòng trọ</h2>
                        <table>
                            <tr>
                                <td>Ngày đăng</td>
                                <td>@item.BaiDang.NgayDang</td>
                            </tr>
                            <tr>
                                <td class="col-1">Diện tích</td>
                                <td class="col-2">@item.noidungPT.DienTich <span style="text-transform:lowercase">m</span><sup>2</sup> </td>
                            </tr>
                            <tr>
                                <td>Địa chỉ</td>
                                <td>@item.diachiPT.Phuong, @item.diachiPT.Quan, @item.diachiPT.ThanhPho</td>
                            </tr>

                        </table>
                        <div class="post-detail-map">
                            <h2 style="margin: 10px 0">Xem trên bản đồ</h2>
                            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d62708.143874355424!2d106.58620995994364!3d10.791465086940724!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31752bf733e69175%3A0xd8d63453733325fe!2zVMOibiBQaMO6LCBI4buTIENow60gTWluaCwgVmnhu4d0IE5hbQ!5e0!3m2!1svi!2s!4v1730214335319!5m2!1svi!2s" width="500" height="350" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>


                        </div>

                    </div>
                </div>
                <div class="col-lg-4 col-md-12">
                    <div class="contact-details">
                        <div class="contact-image-container">
                            <img id="contact-image" src="~/Contents/Images/UserImg.png" alt="">

                        </div>
                        <div class="contact-opt">
                            <h2>
                                @item.nguoiChoThue.TenNguoiChoThue
                            </h2>
                            <button style="background: #3B9E62; color:#ffffff" id="copyButton" onclick="copyToClipboard();">
                                <i class="fa-solid fa-phone"></i>
                                @item.nguoiChoThue.SoDienThoai
                            </button>
                            <button style="background:#0094ff;"><a style=" color: #ffffff" href="https://zalo.me/@item.nguoiChoThue.SoDienThoai"><i class="fa-solid fa-comment"></i>Nhắn zalo</a></button>
                            <div style="font-size: 1.4rem;" class="btn-contact-opt d-flex justify-content-between mt-2">
                                <button class="favorites-post" data-post-id="@item.BaiDang.IdBaiDang">
                                    <i class="fa-regular fa-heart" ></i>Lưu tin Này
                                </button>
                                <button class="report-post" data-post-id="@item.BaiDang.IdBaiDang"><i class="fa-solid fa-triangle-exclamation"></i>Báo cáo</button>
                            </div>



                        </div>

                    </div>
                    <div class="sidebar">
                        @Html.Action("SideBarPosts", "BaiDang")

                    </div>

                </div>
            </div>
                
                
        </div>
            
  
    </section>
}

<script src="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.js"></script>
<script>
    var swiper = new Swiper(".slide-content", {
        slidesPerView: 4,
        spaceBetween: 45,
        loop: true,
        centerSlide: true,
        centeredSlidesBounds: true,
        fade: true,
        grabCursor: true,
        pagination: {
            el: ".swiper-pagination",
            clickable: true,
            dynamicBullets: true,
        },
        navigation: {
            nextEl: ".swiper-button-next",
            prevEl: ".swiper-button-prev",
        },

        breakpoints: {
            0: {
                slidesPerView: 1,
            },
            520: {
                slidesPerView: 2,
            },
            950: {
                slidesPerView: 3,
            },
            1200: {
                slidesPerView: 4,
            },
        },
    });




    function copyToClipboard() {
        var button = document.getElementById("copyButton");
        var textToCopy = button.innerText;

        navigator.clipboard.writeText(textToCopy)
            .then(() => {
                alert("Copied the text: " + textToCopy);
            })
            .catch(err => {
                console.error('Could not copy text: ', err);
            });
    }
</script>
