@model IEnumerable<Web_PhongTro.ViewModels.BaiDangVM>

@{
    ViewBag.Title = "DashBoard";
    Layout = "~/Areas/KiemDuyetVien/Views/Shared/_Layout.cshtml";
}

<div class="title">
    <i class="uil uil-tachometer-fast-alt"></i>
    <span class="text">Danh Sách Bài Đăng Chờ Duyệt</span>
</div>
<div class="container">


    <div class="post-list">
        @foreach (var item in Model)
        {
            if ((item.BaiDang.TrangThai).Contains("0"))
            {
                <div class="post">
                    <img src="~/Contents/Images/ImgPost/@item.BaiDang.AnhBaiDang" alt="Phòng trọ quận 1">
                    <div class="post-details">
                        <h3>@item.BaiDang.TieuDe</h3>
                        <p>Giá: <span>3.000.000 VNĐ/tháng</span></p>
                        <p>Địa chỉ: @item.diachiPT.Phuong  @item.diachiPT.Quan </p>
                        <p class="text">
                            @item.BaiDang.NoiDung
                        </p>
                        <a class="toggle-btn">Xem thêm</a>
                        <div class="buttons">
                            <button class="accept">✔ Chấp Nhận</button>
                            <button class="reject">✖ Từ Chối</button>
                        </div>
                    </div>
                </div>
            }

        }
        <!-- Bài đăng 1 -->


    </div>
</div>


<div class="title">
    <i class="uil uil-tachometer-fast-alt"></i>
    <span class="text">Danh Sách Bài Đăng Đã Duyệt</span>
</div>
<div class="container">


    <div class="post-list">
        @foreach (var item in Model)
        {
            if ((item.BaiDang.TrangThai).Contains("1"))
            {
                <div class="post">
                    <img src="~/Contents/Images/ImgPost/@item.BaiDang.AnhBaiDang" alt="Phòng trọ quận 1">
                    <div class="post-details">
                        <h3>@item.BaiDang.TieuDe</h3>
                        <p>Giá: <span>3.000.000 VNĐ/tháng</span></p>
                        <p>Địa chỉ: @item.diachiPT.Phuong  @item.diachiPT.Quan </p>
                        <p class="text">
                            @item.BaiDang.NoiDung
                        </p>
                        <a class="toggle-btn">Xem thêm</a>
                        <div class="buttons">
                            @*<button class="accept">✔ Chấp Nhận</button>*@
                            <button class="reject">✖ Xóa bài đăng</button>
                        </div>
                    </div>
                </div>
            }

        }
        <!-- Bài đăng 1 -->


    </div>
</div>


